.movie-box {
  position: relative;
  width: 451px;
  height: 279px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  margin: 21px 32px 0 32px;
}

.movie-box img {
  width: 183px;
  height: 279px;
}

.no-img {
  width: 183px;
  height: 150px;
  font-size: 60px;
}

.movie-box_info {
  margin-left: 20px;
  margin-right: 20px;
  max-height: 242px;
  overflow: hidden;
}

.movie-box_info h1 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 6px;
  max-width: 170px;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.movie-box_info h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #827E7E;
  margin: 0;
  margin-bottom: 8px;
}

.geners-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.movie-box_info p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  max-width: 228px;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
  display: inline;
}


@media (max-width: 1024px) {

  .movie-box {
    width: 431px;
    height: 259px;
  }

  .movie-box img {
    width: 173px;
    height: 259px;
  }

  .movie-box_info h1 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 0px;
    max-width: 170px;
  }
}

@media (max-width: 768px) {
  .movie-box {
    width: 387px;
    height: 245px;
    margin-top: 10px;
  }

  .movie-box img {
    width: 60px;
    height: 91px;
    padding: 6px 0 0 6px;
  }
  
  .no-img {
    width: 60px;
    height: 175px;
    font-size: 30px; 
  }
  

  .movie-box_info {
    margin-left: 13px;
    overflow: unset;
  }

  .movie-box_info p {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    max-width: 367px;
    height: 92px;
    /* margin-top: 20px; */
    position: absolute;
    bottom: 20px;
    left: 10px;
  }

  .movie-box_info h1 {
    font-size: 20px;
    line-height: 22px;
    align-items: center;
    margin-bottom: 7px;
    max-width: 190px;

  }

  .movie-box_info h2 {
    font-weight: 400;
    font-size: 12px;
    display: block;
    line-height: 6px;
    color: #827E7E;
  }
}