.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 78px;
  margin-top: 35px;
}

.movie-list_selected {
  box-shadow: 0 5px 20px #9F0013;
  transform: translateY(-8px);
}

.spinner {
  position: absolute;
  margin: 0 auto;
  top: 60px;
  left: 50%;
}

.auto-complete {
  display: block;
  width:  938px;  
  margin: 0 auto;
  background: #FFFFFF; 
}

@media (max-width: 1024px) {

  .auto-complete {
      width: 388px;
  }


}

@media (max-width: 768px) {

  .movie-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 78px;
    margin-top: 10px;
  }

}



