.movie-rate {
  position: absolute;
  left: 5px;
  bottom: -50px;
  margin: 0 auto;
  margin-bottom: 15px;

}

.rate {
  font-size: 14px;
}

@media (max-width: 768px) {
  .movie-rate {
    margin-left: 75px;
    /* font-size: 12px; */
  }
  
}